
@{
    ViewData["Title"] = "BlogTitleListExel";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>BlogTitleListExel</h1>
<br />
<a href="/Admin/Blog/ExportDynamicExelList" class="btn btn-primary">Exel Listesini İndir</a>